<h1><%= @candy.name %></h1>
<h3>Sweetness Scale: <%= @candy.sweetness %></h3>
<h3>Yummy?: <%= @candy.yummy %></h3><br>
<img class="candy-img" src="<%= @candy.img_url %>" alt="img of some yummy candy">
<br>
<%= button_to "Edit Candy", edit_candy_path(@candy), method: :get %><br>




