<!doctype html>
<html lang="en">
<head>
    <title>CandyMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header">
      <div class="pure-menu-horizontal">
        <span>
          <a href="/candies/">Candy Gallery</a>&nbsp;&middot;                    
          <a href="/chocolates/">Chocolate Gallery</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>
        </span>    
      </div>
    </div>

      <%= yield %>

      <p> </p>
      <p> </p>
      <p> </p>


    <div class="footer">
      <div class="pure-menu-horizontal">
        <span>
          <a href="/candies/">Candy Gallery</a>&nbsp;&middot;                    
          <a href="/chocolates/">Chocolate Gallery</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>&nbsp;&middot;
          <a href="#">#</a>
        </span>    
      </div>
    </div>
  </body>
</html>
