<h1><%= @chocolate.name %></h1>
<h3>Price: <%= @chocolate.price %></h3>
<br>
<img class="chocolate-img" src="<%= @chocolate.img_url %>" alt="img of some yummy chocolate">
<p>Description: <%= @chocolate.description %></p>
<br>
<%= button_to "Edit chocolate", edit_chocolate_path(@chocolate), method: :get %><br>




